{
    "development": {
        "dbOptions": {
            "username": "root",
            "password": "1234",
            "database": "nh_db",
            "host": "127.0.0.1",
            "dialect": "mysql",
            "operatorAliases" : false,
            "dialectOptions": {
                "dateStrings": true,
                "typeCast": true
            },
            "timezone": "+09:00",
            "logging": false
        },
        "jwtSecret": "insert jwt secret key",
        "iscd": "기관코드",
        "accessToken": "액세스 토큰",
        "BrdtBrno": "생년월일 or 사업자번호"
        "serviceId": "네이버 sms 서비스 아이디",
        "serviceKey": "네이버 sms 서비스 키",
        "ncsAccessKey": "네이버 개발자 access key",
        "ncsSecretKey": "네이버 개발자 secret key"
    }
}
